@using System.Text.RegularExpressions
@using System.Text

@model DocumentSearchPortal.Models.SearchResultViewModel

@{
    ViewData["Title"] = "Search";
}

<style>
    .highlighted {
        background-color: yellow;
    }
</style>

<h2>Document Search</h2>

<!-- Search Controls -->
<div class="row">
    <form asp-controller="Search" asp-action="Search" method="post">
        <div class="form-row align-items-center">
            <div class="col-auto">
                <input type="text" id="normalQuery" name="SearchQuery" class="form-control mb-2" value="@Model.SearchQuery" placeholder="Enter search keywords">
            </div>
            <div class="col-auto">
                <input type="text" id="filterExpression" name="FilterExpression" class="form-control mb-2" value="@Model.FilterExpression" placeholder="Enter filter expression. Example: Category eq 'Category1'and metadata_storage_last_modified ge 2024-02-28">
            </div>
            <div class="col-auto">
                <input type="text" id="orderbyExpression" name="OrderByExpression" class="form-control mb-2" value="@Model.OrderByExpression" placeholder="Enter order expression. Example: metadata_storage_last_modified desc">
            </div>
            <div class="col-auto">
                <input type="text" id="topAISearch" name="TopAISearch" class="form-control mb-2" value="@Model.TopAISearch" placeholder="Enter the count for AI Search. Example: 5">
            </div>
            <div class="col-auto">
                <input type="text" id="topPortal" name="TopPortal" class="form-control mb-2" value="@Model.TopPortal" placeholder="Enter the count to display in Portal. Example: 2">
            </div>
            <div class="col-auto">
                <input type="text" id="searchMode" name="SearchMode" class="form-control mb-2" value="@Model.SearchMode" placeholder="Enter Search Mode. Example: Any or All">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Search</button>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <!-- Display Normal Search Results -->
    <div class="row">
        @if (Model?.NormalSearchResults != null && Model?.NormalSearchResults?.TotalCount != 0)
        {
            <h3>Normal Search Results</h3>
            @foreach (var result in Model.NormalSearchResults.GetResults())
            {
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-md-3">
                            <strong>Score</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Score != null ? result.Score : string.Empty)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>ファイル名</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Document.ContainsKey("metadata_storage_name") ? result.Document["metadata_storage_name"] : string.Empty)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>修正日</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Document.ContainsKey("metadata_storage_last_modified") ? result.Document["metadata_storage_last_modified"] : string.Empty)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>説明</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Document.ContainsKey("Description") ? result.Document["Description"] : string.Empty)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>カテゴリー</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Document.ContainsKey("Category") ? result.Document["Category"] : string.Empty)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>情報名</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Document.ContainsKey("InformationId") ? result.Document["InformationId"] : string.Empty)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>プロトコルID</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Document.ContainsKey("ProtocolId") ? result.Document["ProtocolId"] : string.Empty)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>公開範囲</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Document.ContainsKey("DisclosureScope") ? result.Document["DisclosureScope"] : string.Empty)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>修正者</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Document.ContainsKey("ModifiedBy") ? result.Document["ModifiedBy"] : string.Empty)
                        </div>
                    </div>
                    <!-- Highlighted search contents -->
                    @if (result.Highlights != null && result.Highlights.ContainsKey("content"))
                    {
                        int highlightCount = 0;
                        int topPortalCount = string.IsNullOrEmpty(Model.TopPortal) ? result.Document.Count : Convert.ToInt16(Model.TopPortal);
                        foreach (var fullHighlight in result.Highlights["content"])
                        {
                            if (highlightCount >= topPortalCount) // Limit to selected count
                            {
                                break;
                            }
                            // Process each highlight to extract about 10 characters before and after the keyword
                            // Find all matches first
                            var matches = System.Text.RegularExpressions.Regex.Matches(fullHighlight, @"<em>(.*?)<\/em>");

                            StringBuilder processedHighlightsBuilder = new StringBuilder();
                            int lastEndIndex = -1;

                            foreach (Match match in matches)
                            {
                                string keyword = match.Groups[1].Value;
                                int keywordIndex = match.Index;
                                int start = Math.Max(keywordIndex - 10, 0);
                                int end = Math.Min(keywordIndex + match.Length + 10, fullHighlight.Length);

                                // Ensure non-overlapping sections
                                if (start <= lastEndIndex)
                                {
                                    continue; // Skip this match as its section overlaps with the previous one
                                }

                                int length = end - start;
                                string surroundingText = fullHighlight.Substring(start, length);
                                processedHighlightsBuilder.Append(surroundingText);

                                lastEndIndex = end; // Update the last end index to ensure non-overlapping sections

                                // Break if we reach the limit
                                if (++highlightCount >= topPortalCount)
                                {
                                    break;
                                }
                            }

                            string processedHighlight = processedHighlightsBuilder.ToString();

                            <div class="row">
                                <div class="col-md-3">
                                    <strong>結果</strong>
                                </div>
                                <div class="col-md-9">
                                    @Html.Raw(processedHighlight.Replace("<em>", "<span class=\"highlighted\">").Replace("</em>", "</span>"))
                                </div>
                            </div>
                            highlightCount++;
                        }
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <p>No highlights available.</p>
                            </div>
                        </div>
                    }

                    <hr /> <!-- Add a horizontal rule to separate results -->
                </div>
            }
        }
        else
        {
            <p>No normal search results found.</p>
        }
    </div>

    <!-- Display Vector Search Results -->
    <div class="row">
        @if (Model?.VectorSearchResults != null && Model?.VectorSearchResults?.TotalCount != 0)
        {
            <h3>Vector Search Results</h3>
            @foreach (var result in Model.VectorSearchResults.GetResults())
            {
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-md-3">
                            <strong>Score</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Score != null ? result.Score : string.Empty)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>ファイル名</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Document.ContainsKey("title") ? result.Document["title"] : string.Empty)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>修正日</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Document.ContainsKey("metadata_storage_last_modified") ? result.Document["metadata_storage_last_modified"] : string.Empty)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>説明:</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Document.ContainsKey("Description") ? result.Document["Description"] : string.Empty)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>カテゴリー:</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Document.ContainsKey("Category") ? result.Document["Category"] : string.Empty)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>情報名</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Document.ContainsKey("InformationId") ? result.Document["InformationId"] : string.Empty)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>プロトコルID</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Document.ContainsKey("ProtocolId") ? result.Document["ProtocolId"] : string.Empty)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>公開範囲</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Document.ContainsKey("DisclosureScope") ? result.Document["DisclosureScope"] : string.Empty)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>修正者</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Document.ContainsKey("ModifiedBy") ? result.Document["ModifiedBy"] : string.Empty)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>Vector Chunk:</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Document.ContainsKey("chunk") ? result.Document["chunk"] : string.Empty)
                        </div>
                    </div>
                    <hr /> <!-- Add a horizontal rule to separate results -->
                </div>
            }
        }
        else
        {
            <p>No vector search results found.</p>
        }
    </div>

    <!-- Display Hybrid Search Results -->
    <div class="row">
        @if (Model?.HybridSearchResults != null && Model?.HybridSearchResults?.TotalCount != 0)
        {
            <h3>Hybrid Search Results with Semantic Reranking</h3>
            @foreach (var result in Model.HybridSearchResults.GetResults())
            {
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-md-3">
                            <strong>Score</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Score != null ? result.Score : string.Empty)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>Semantic Reranker Score</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.SemanticSearch.RerankerScore != null ? result.SemanticSearch.RerankerScore : string.Empty)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>ファイル名</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Document.ContainsKey("title") ? result.Document["title"] : string.Empty)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>修正日</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Document.ContainsKey("metadata_storage_last_modified") ? result.Document["metadata_storage_last_modified"] : string.Empty)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>説明</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Document.ContainsKey("Description") ? result.Document["Description"] : string.Empty)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>カテゴリー</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Document.ContainsKey("Category") ? result.Document["Category"] : string.Empty)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>情報名</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Document.ContainsKey("InformationId") ? result.Document["InformationId"] : string.Empty)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>プロトコルID</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Document.ContainsKey("ProtocolId") ? result.Document["ProtocolId"] : string.Empty)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>公開範囲</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Document.ContainsKey("DisclosureScope") ? result.Document["DisclosureScope"] : string.Empty)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>修正者</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Document.ContainsKey("ModifiedBy") ? result.Document["ModifiedBy"] : string.Empty)
                        </div>
                    </div>
                    <!-- Highlighted search contents -->
                    @if (result.SemanticSearch.Captions != null)
                    {
                        int captionCount = 0;
                        int topPortalCount = string.IsNullOrEmpty(Model.TopPortal)? result.Document.Count: Convert.ToInt16(Model.TopPortal);
                        foreach (var caption in result.SemanticSearch.Captions)
                        {
                            if (captionCount >= topPortalCount) // Limit to selected count
                            {
                                break;
                            }
                            <div class="row">
                                <div class="col-md-3">
                                    <strong>Caption</strong>
                                </div>
                                <div class="col-md-9">
                                    @if (caption?.Highlights != null && caption?.Highlights != "")
                                    {
                                        @Html.Raw(caption?.Highlights?.Replace("<em>", "<span class=\"highlighted\">").Replace("</em>", "</span>"))
                                    }
                                    else
                                    {
                                    @(caption?.Text)
                                    }
                                    
                                </div>
                            </div>
                            captionCount++;
                        }
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <p>No highlights available.</p>
                            </div>
                        </div>
                    }

                    <!-- Highlighted search contents -->
                    @if (result.Highlights != null && result.Highlights.ContainsKey("chunk"))
                    {
                        int highlightCount = 0;
                        int topPortalCount = string.IsNullOrEmpty(Model.TopPortal) ? result.Document.Count : Convert.ToInt16(Model.TopPortal);
                        foreach (var highlight in result.Highlights["chunk"])
                        {
                            if (highlightCount >= topPortalCount) // Limit to selected count
                            {
                                break;
                            }
                            <div class="row">
                            <div class="col-md-3">
                            <strong>Highlights from chunk</strong>
                            </div>
                            <div class="col-md-9">
                            @Html.Raw(highlight.Replace("<em>", "<span class=\"highlighted\">").Replace("</em>", "</span>"))
                            </div>
                            </div>
                            highlightCount++;
                        }
                    }
                    else
                    {
                        <div class="row">
                        <div class="col-md-12">
                        <p>No highlights available.</p>
                        </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-3">
                            <strong>Chunk</strong>
                        </div>
                        <div class="col-md-9">
                            @(result.Document.ContainsKey("chunk") ? result.Document["chunk"] : string.Empty)
                        </div>
                    </div>
                    <hr /> <!-- Add a horizontal rule to separate results -->
                </div>
            }
        }
        else
        {
            <p>No Hybrid search results found.</p>
        }
    </div>

</div>